.tile.is-parent {
    padding: 0;
}

.automation>li::before {
    content: "🤖 "
}

.docs>li::before {
    content: "🔗 "
}

.tinker>li::before {
    content: "🛠 "
}

.thoughts>li::before {
    content: "🤔 "
}

.applications>li::before {
    content: "🏗 "
}

.dev-badge {
    width: 21px;
}